{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<h2 class="mb-3">Log In</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button class="btn btn-primary" style="background-color:#34495e;">Log In</button>
<a href="{{ url_for('pages.signup') }}" class="btn btn-link" style="background-color:#34495e; color: white;">
  Need an account?
</a>
</form>
{% endblock %}
